
<br/><br/>

<button (click)="switchView()">
  <span *ngIf="!view">Login</span>
  <span *ngIf="view">Register</span>
</button>

<div *ngIf="httpError">
  <h3 style="color:#ddd;">Error</h3>
  <h4 style="color: red;">{{httpError}}</h4>
</div>

<!--
  Register view
-->
<div *ngIf="!view" >
  <app-register (register)="registerUser($event)"></app-register>
  <div *ngIf="!registerResponse?.response">
    <ul>
      <li *ngIf="registerResponse?.data.username" >{{ registerResponse?.data.username }}</li>
      <li *ngIf="registerResponse?.data.email" >{{ registerResponse?.data.email }}</li>
      <li *ngIf="registerResponse?.data.name" >{{ registerResponse?.data.name }}</li>
      <li *ngIf="registerResponse?.data.surname" >{{ registerResponse?.data.surname }}</li>
      <li *ngIf="registerResponse?.data.password" >{{ registerResponse?.data.passoword }}</li>
      <li *ngIf="registerResponse?.data.confirm_password" >{{ registerResponse?.data.confirm_password }}</li>
    </ul>
  </div>
</div>

<!--
  Login view
-->
<div *ngIf="view">
  <div *ngIf="!loginResponse?.response">
    <ul>
      <li *ngIf="loginResponse?.data.message" >{{ loginResponse?.data.message }}</li>
    </ul>
  </div>
  <h1 *ngIf="loginResponse?.response">
    WebToken : {{ loginResponse?.data | json }}
  </h1>
  <app-login (login)="loginUser($event)"></app-login>
</div>
