/* You can add global styles to this file, and also import other style files */


html,body{
	width: 100%;
	height: 100%;
}

/* clear */
.clear{
	clear: both;
}

/* horizontal line */
.hr{
	width: 100%;
	height: 1px;
	background: #ddd;
	float: left;
	margin: 50px 0 50px;
	clear: both;
}
/* makes text bolder */
.bolder{
	font-weight: bolder;
}
/* change color */
.color{
	color: SteelBlue;
}
/*background color*/
.background-color{
	background-color: SteelBlue;
}
/* draw line in text */
.line{
	border-bottom: 5px solid SteelBlue;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

/*jumbotron*/
.jumbotron{
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: Black;
	font-weight: bolder;
	padding: 150px 0 250px;
}
.jumbotron p{
	font-weight: bolder;
}
/*contact-link*/
.contact-link-del{
	width: 100%;
	padding: 40px 10% 50px 10%;
	background-color: #eee;
	float: left;
}
.contact-link-del h3{
	margin-bottom: 20px;
	text-align: center;
}
.contact-link-del .link{
	padding: 10px 30px 10px 30px;
	background: SteelBlue;
	background: linear-gradient(SteelBlue,#4A88E5,SteelBlue);
	background: -moz-linear-gradient(SteelBlue,#4A88E5,SteelBlue);
	background: -o-linear-gradient(SteelBlue,#4A88E5,SteelBlue);
	background: -webkit-linear-gradient(SteelBlue,#4A88E5,SteelBlue);
	font-size: 30px;
	margin-top: 20px;
	color: White;
	border-radius: 5px;
	border: 1px solid #555;
}
